.booking {
  background-color: #440f51;
  padding: 80px 0;
}

.booking__fieldset {
  border: none; 
  margin-bottom: 60px;
}

.booking__fieldset_choose {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.booking__legend {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 40px;  
}

.booking__label_choose {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 8px;
  padding: 7px 15px;
  width: 250px;
  border: 3px solid #fff;
  transition: background-color 2s ease, border 2s ease, color 2s ease;
}

.booking__label_choose:hover {
  border: 3px solid #640aa3;
  background-color: #eadeed;
}

.booking__label_choose:focus {
  border: 3px solid #640aa3;
}

.booking__label_choose:active {
  border: 3px solid #fff;
  background-color: #6c0287;
  color: #fff;
}

.booking__input_choose {
  display: none;
}

.booking__fieldset_compile {
  display: flex;  
  justify-content: center;  
  column-gap: 100px;
  margin-bottom: 0; 
}

.booking__fieldset_column {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  row-gap: 20px;
}

.booking__legend_sub {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 23px;
}

.booking__input_column {
  font-weight: 400;
  font-size: 22px;
  vertical-align: middle;
}

input[type="radio"] {
  width: 27px;
  height: 27px;
  margin-right: 12px;
  transition: outline 2s ease;    
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  transition: outline 2s ease; 
}

input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: 1px solid #cd06ff;
}

.booking__fieldset_date {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  margin-bottom: 40px;
}

.booking__row {
  display: flex;
  flex-direction: column;
}

.booking__column {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}

.booking__column:last-child {
  margin-bottom: 0;
}

.booking__column_row {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 36px;
}

.booking__label_date {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 6px;
}

.booking__input_date {
  min-height: 52px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #211e1e;
  padding: 12px 20px;
  position: relative;
  transition: outline 2s ease; 
}

.booking__input_date:focus {
  outline: 2px solid #cd06ff;
}

.booking__input_width1 {
  width: 134px;
}

.booking__input_width {
  width: 280px;
}

.booking__input_width3 {
  width: 300px;
}

.booking__input_wrapper {
  position: relative;
}

.booking__arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.booking__button {
  display: flex;
  justify-content: flex-end;
  padding: 0 100px;
}

.booking__btn {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px; 
  line-height: 1.27;
  text-transform: uppercase;
  color: #6c0287;
  padding: 16px 50px;
  border-radius: 10px;
  margin-right: 0;
  width: 300px;
  border: 3px solid transparent;
  transition: background-color 2s ease, border 2s ease;
}

.booking__btn:hover {
  background-color: #eadeed;
  border: 3px solid #6c0287;
}

.booking__btn:focus {
  background-color: #fff;
  border: 3px solid #6c0287;
}

.booking__btn:active {
  background-color: #eadeed;

}





