.title-middle__long {
  white-space: pre-line;
}

.everything__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.everything__item {
  min-height: 228px;
}

.everything__item:nth-child(2) {
  margin-top: calc(70px);
}

.everything__item:nth-child(4), .everything__item:nth-child(6) {
  margin-top: calc(-70px);
}

.everything__item:hover {
  transform: scale(1.1);
  transition-duration: 2s;
  transition-timing-function: ease;
}

.everything__item:not(:hover) {
  transform: scale(1);
  transition-duration: 2s;
  transition-timing-function: ease;
}

.everything__photo-group {
  position: relative;
}

.everything__img {
  width: 100%;
}

.everything__caption {
  position: absolute;
  top: 166px;
  left: 40px;
  max-width: 300px;
  white-space: pre-line;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
}
