.navigation {
  padding-top: 30px;
}

.navigation__logo {
  width: 120px;
  min-height: 66px;
}

.navigation__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 2.27;
  text-transform: uppercase;
  color: #fff;
}

.navigation__btn {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid var(--outline, #cd06ff);
  border-radius: 10px;
  background-color: transparent;
  padding: 12px 32px;
  transition: background-color 2s ease, border 2s ease;
}

.navigation__btn:hover, .navigation__btn:focus {
  background-color: var(--btn-color, #6c0287);
  border: 3px solid var(--btn-color, #6c0287);
}

.navigation__btn:active {
  background-color: #640aa3;
  border: 1px solid #000;
  outline: 2px solid transparent;
}
